<div class="jQuery_aplly container bg-success text-light">
  <div class="row">
    <div class="jQuery_aplly mx-auto">
      <h1>ようこそ！ながのCakeへ！</h1>
      <p>当サイトはケーキの通販サイトで御座います。</p>
      <p>是非、当店ご自慢のケーキを御覧くださいませ。</p>
    </div>
  </div>
</div>
<div class="jQuery_aplly container bg-primary text-light">
  <div class="row">
    <div class="mx-auto">
      <div class="jQuery_aplly">
        <h1>このサイトが作成された経緯</h1>
      </div>
      <div class="jQuery_aplly_slide">
        <%=image_tag '20190821_shizuka_eye', size:"500x500" %>
      </div>
      <div class="jQuery_aplly">
        <p>元々近隣住民の方々がお客様でしたが</p>
        <p>昨年始めたInstagramから当店の知名度が増して人気となり</p>
        <p>全国から注文が来るようになりました</p>
        <p>InstagramのDMやメールで通販の注文を受けていましたが</p>
        <p>情報管理が煩雑になりましたので</p>
        <p>管理機能を含んだ通販サイトを開設させていただきました。</p>
      </div>
    </div>
  </div>
</div>