<div class="container">
  <div class="row">
    <div class="jQuery_aplly mx-auto">
      <h1>ようこそ！ながのCakeへ！</h1>
      <p>当サイトはケーキの通販サイトで御座います。</p>
      <p>是非、当店ご自慢のケーキを御覧くださいませ。</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="jQuery_aplly mx-auto">
      <h1>このサイトが作成された経緯</h1>
      <%=image_tag '20190821_shizuka_eye', size:"500x500" %>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>