<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1 class="jQuery_aplly">ようこそ！ながのCakeへ！</h1>
      <p class="jQuery_aplly">当サイトはケーキの通販サイトで御座います</p>
      <p class="jQuery_aplly">是非、当店ご自慢のケーキを御覧くださいませ</p>
    </div>
  </div>
</div>